coremods
crash-reports
defaultconfigs
ESM
journeymap
local
logs
mods
saves
schematics
screenshots
server-resource-packs
texturepacks
options.txt
rhino.local.properties
usercache.json
usernamecache.json
config/worldedit
essential
